:root {
    --primary-color: #282A73;
    --secondary-color: #014428;
    --accent1-color: #7F95D1;
    --accent2-color: #72A98F;
    --heading-font: 'Boldonse', sans-serif;
    --font: 'Tillana', system-ui;
}

.tillana-regular {
    font-family: "Tillana", system-ui;
    font-weight: 400;
    font-style: normal;
}

.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

header img {
    padding-bottom: 10px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: Arial, sans-serif;
}

nav li {
    flex: 1 1 auto;
}

nav a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.5rem;
}

nav a:hover {
    color: var(--accent1-color);
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    position: absolute;
    bottom: 72%;
    left: 44%;
    right: 40%;
}

h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    color: var(--secondary-color);
    font-family: var(--font);
    font-size: medium;
}

footer a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.8;
}

article {
    position: absolute;
    top: 25%;
	bottom: 25%;
	left: 5%;
    right: 5%;
	background: radial-gradient(#eee, var(--accent1-color));
	padding: 0.65rem;
	opacity: 0.9;
}

article img {
    max-width: 20%;
    float: right;
}

section h2 {
    text-align: center;
}

.history div {
    display: flex;
}

.history p {
    padding: 10px;
}

.history img {
    max-width: 300px;
}

.grid img {
    max-height: 300px;
    max-width: 300px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

footer {
    display: block;
    position: relative;
    text-align: center;
    top: 30px;
    padding-bottom: 20px;
}

footer nav {
    display: flex;
    float: right;
    position: relative;
    bottom: 35px;
    right: 30px;
}

footer nav img {
    max-width: 20px;
}

figcaption {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: large;
}

/* figcaption needs to have diff color and font, make p bigger */